@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Tc", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body img.fixed-image {
  min-height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -5;
  bottom: 0;
  left: 0;
}
body header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: transparent;
}
body header section.logo {
  flex: 2 1 400px;
  display: flex;
  justify-self: center;
  align-items: center;
  color: white;
}
body header section.logo h1 {
  font-size: 2.5rem;
}
body header section.logo img {
  width: 6vw;
  height: 6vw;
}
body header nav {
  flex: 5 1 500px;
}
body header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
body header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.35rem;
  transition: all 0.2s ease;
  padding-bottom: 0.3rem;
}
body header nav ul li a:hover {
  color: rgba(152, 57, 255, 0.5);
  border-bottom: 3px solid rgba(152, 57, 255, 0.5);
}
body main {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main div.container {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px;
  color: white;
  max-width: 50%;
}
body main div.container div.login-header {
  margin-bottom: 50px;
}
body main div.container div.login-header h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
body main div.container div.login-header p {
  opacity: 0.7;
}
body main div.container .login-form {
  width: 450px;
}
body main div.container .login-form-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
body main div.container .login-form-footer {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}
body main div.container .login-form-footer a {
  flex-grow: 6;
  border: 1px solid white;
  border-radius: 100px;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
}
body main div.container .login-form-footer a:hover {
  background-color: #eee;
  color: black;
}
body main div.container .login-form-footer a img {
  margin-right: 10px;
}
body main div.container .form-item label:not(.checkboxLabel) {
  display: inline-block;
  background-color: transparent;
  margin-bottom: 10px;
  position: absolute;
  padding: 0 10px;
  transform: translate(30px, -10px);
  font-size: 14ps;
}
body main div.container input[type=email],
body main div.container input[type=password] {
  border: 1px solid white;
  height: 55px;
  padding: 0 2rem;
  width: 100%;
  outline: none;
  transition: background 0.5s;
  font-size: 18px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.3);
}
body main div.container input[type=email]:focus,
body main div.container input[type=password]:focus {
  border: 3px solid white;
  transform: scale(1.03);
}
body main div.container input[type=checkbox] {
  width: 20px;
  height: 20px;
  accent-color: #131086;
}
body main div.container button {
  border: none;
  background: linear-gradient(45deg, #131086, #b621f3);
  padding: 1rem;
  color: white;
  border-radius: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  height: 55px;
  cursor: pointer;
  transition: all 0.2s ease;
}
body main div.container button:hover {
  transform: scale(1.1);
}
body footer {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
body footer section.logo img {
  width: 20vw;
}
body footer section.logo h3 {
  font-size: 2.5rem;
}
body footer section.links {
  margin-top: 2rem;
}
body footer section.links a img {
  width: 5vh;
  margin: 0rem 1rem;
}

@media screen and (max-width: 768px) {
  body header section.logo {
    flex-direction: column;
  }
  body header section.logo img {
    width: 40vw;
    height: 40vw;
  }
  body header nav ul {
    flex-direction: column;
    text-align: center;
  }
  body header nav ul li {
    padding: 0.5rem;
  }
  body footer section.logo img {
    width: 40vh;
    height: 40vh;
  }
}
@media screen and (min-width: 768px) {
  body header {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}/*# sourceMappingURL=login.css.map */